<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TransferFilePath" value="标签模板"/>
    <add key="ListerIP" value="127.0.0.1"/>
    <add key="ListerPort" value="8083"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <!--设置netTcpBinding的接受信息最大数，传输方式-->
      <netTcpBinding>
        <binding name="TransferFileBinding"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:30:00"  transferMode="Streamed" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WCFServer.Transfer">
        <!--定义终节点ABC-->
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="TransferFileBinding" contract="FileInterface.ITransfer" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1/service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false --><!--
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          --><!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息--><!--
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
  </system.serviceModel>
</configuration>