<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerUrl" value="net.tcp://127.0.0.1/service"/>
    <add key="TransferFilePath" value="标签模板"/>
    <add key="ListerIP" value="127.0.0.1"/>
    <add key="ListerPort" value="8083"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <!--设置netTcpBinding的接受信息最大数，传输方式-->
      <netTcpBinding>
        <binding name="TransferFileBinding" maxReceivedMessageSize="1073741824" transferMode="Streamed" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WCFFileServer.Transfer">
        <!--定义终节点ABC-->
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="TransferFileBinding" contract="FileInterface.ITransfer" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1/service" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>